<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddStudentChecker</servlet-name>
        <servlet-class>controller.AddStudentChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingChecker</servlet-name>
        <servlet-class>controller.SearchingChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginChecker</servlet-name>
        <servlet-class>controller.StudentLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompanyChecker</servlet-name>
        <servlet-class>controller.AddCompanyChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJobChecker</servlet-name>
        <servlet-class>controller.AddJobChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileChecker</servlet-name>
        <servlet-class>controller.UpdateProfileChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobChecker</servlet-name>
        <servlet-class>controller.ApplyJobChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentChecker</servlet-name>
        <url-pattern>/AddStudentChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingChecker</servlet-name>
        <url-pattern>/SearchingChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginChecker</servlet-name>
        <url-pattern>/StudentLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompanyChecker</servlet-name>
        <url-pattern>/AddCompanyChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJobChecker</servlet-name>
        <url-pattern>/AddJobChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileChecker</servlet-name>
        <url-pattern>/UpdateProfileChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobChecker</servlet-name>
        <url-pattern>/ApplyJobChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
